@page
@model EmpIndexModel

@{
    ViewData["Title"] = "Tu página principal";
    Layout = "~/Pages/Shared/_LayoutEmp.cshtml";
    <link href="~/css/generalPurpose.css" rel="stylesheet" type="text/css" />
}
<body>
    <br>
    <div>
        <br>
        <table class="halfy">
            <tr>
                <th>
                    <table class="tabloide">
                        <tr>
                            <th>Columna 1</th>
                            <th>Columna 2</th>
                        </tr>
                        <tr>
                            <td>Fila 1, Columna 1</td>
                            <td>Fila 1, Columna 2</td>
                        </tr>
                        <tr>
                            <td>Fila 2, Columna 1</td>
                            <td>Fila 2, Columna 2</td>
                        </tr>
                        <tr>
                            <td>Fila 3, Columna 1</td>
                            <td>Fila 3, Columna 2</td>
                        </tr>
                        <tr>
                            <td>Fila 4, Columna 1</td>
                            <td>Fila 4, Columna 2</td>
                        </tr>
                        <tr>
                            <td>Fila 5, Columna 1</td>
                            <td>Fila 5, Columna 2</td>
                        </tr>
                        <tr>
                            <td>Fila 6, Columna 1</td>
                            <td>Fila 6, Columna 2</td>
                        </tr>
                    </table>
                </th>
                <th>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris nec
                        lectus dapibus justo tincidunt elementum a nec felis.
                        Quisque nec
                        vulputate tellus, vel dictum neque. Donec suscipit
                        feugiat quam eu
                        convallis. Quisque ullamcorper sed dolor quis sagittis.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada
                        fames ac
                        turpis egestas.</h6>
                </th>
            </tr>
        </table>
        <br>
        <br>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec
            lectus dapibus justo tincidunt elementum a nec felis. Quisque nec
            vulputate tellus, vel dictum neque. Donec suscipit feugiat quam eu
            convallis. Quisque ullamcorper sed dolor quis sagittis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Morbi enim quam, malesuada a metus nec, aliquam
            vehicula orci. Aliquam eget eleifend sem. Praesent velit velit,
            luctus et molestie sodales, tempor eget elit. Morbi laoreet metus
            ligula, non elementum nisl bibendum nec. Nulla porttitor dapibus
            tortor, sed gravida ante porta vel.</h5>
        <br>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec
            lectus dapibus justo tincidunt elementum a nec felis. Quisque nec
            vulputate tellus, vel dictum neque. Donec suscipit feugiat quam eu
            convallis. Quisque ullamcorper sed dolor quis sagittis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Morbi enim quam, malesuada a metus nec, aliquam
            vehicula orci. Aliquam eget eleifend sem. Praesent velit velit,
            luctus et molestie sodales, tempor eget elit. Morbi laoreet metus
            ligula, non elementum nisl bibendum nec. Nulla porttitor dapibus
            tortor, sed gravida ante porta vel.</h5>
    </div>
</body>