@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    <link href="~/css/indexBody.css" rel="stylesheet" type="text/css" />
}
<br>
<h2>Bienvenido a PiggyBank</h2>
<br>
<div class="slidecontainer">
        <ul class="slider">
            <li id="slide1"><img src="https://di-uploads-pod5.dealerinspire.com/beachautomotivegroup/uploads/2016/03/Car-Salesman-Speaking-with-Couple_101736128_original-copy-2.jpg" alt=""></li>
            <li id="slide2"><img src="https://www.nm.org//-/media/northwestern/healthbeat/images/wellness/nm-how-happiness-affects-health-tnail.jpg" alt=""></li>
            <li id="slide3"><img src="https://i.insider.com/582b39f046e27a2d088b6a9b?width=1000&format=jpeg&auto=webp" alt=""></li>
        </ul>
        <div>
            <ul class="slideMenu">
                <li><a href="#slide1"></a></li>
                <li><a href="#slide2"></a></li>
                <li><a href="#slide3"></a></li>
            </ul>
        </div>
</div>

