@page
@model UserIndexModel

@{
    ViewData["Title"] = "Tu página principal";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
}

<div>
    <div class="saldo">
        <h2>Saldo</h2>
        <h2 class="stonks">$-.--</h2>
    </div>
    <div class="message">
        <h1>No tienes prestamos activos</h1>
    </div>
    <h2 id="stateMessagge">Estado del Prestamo:</h2>
    <div class="state">
        <table class="tabloide">
            <thead>
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Pagos Realizados</th>
                    <th scope="col">Pagos Pendientes</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>