@page
@model ClientescrudModel

@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Pages/Shared/_LayoutEmp.cshtml";
    <link href="~/css/form.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
}

<div>
    <h6>lorem ipsum</h6>
    <h6>aaaaaa</h6>
</div>