@page
@model RegisterModel
@using PiggyBank.Models
@using PiggyBank.Account

@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    <link href="~/css/form.css" rel="stylesheet" type="text/css" />
    <link href="~/css/siteLogin.css" rel="stylesheet" type="text/css" />
}

<div>
    <div class="formContainer">
            <h2 class="title">Registrarse</h2>
            <div class="formContent">
                <form>
                    <br>
                    <input id="Nombres" type="text" class="formInput" placeholder="Nombre(s)">
                    <br>
                    <input id="ApeP" type="text" class="formInput" placeholder="Apellido Paterno">
                    <br>
                    <input id="Apem" type="text" class="formInput" placeholder="Apellido Materno">
                    <br>
                    <input id="CURP" type="text" class="formInput" placeholder="CURP">
                    <br>
                    <input type="date" class=" formInput">
                    <br>
                    <input class="sususubton" type="submit" name="sususubton">
                </form>
            </div>
    </div>
</div>