@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
    <link href="~/css/form.css" rel="stylesheet" type="text/css" />
}

<div>
    <div class="formContainer">
            <h2 class="title">Registrarse</h2>
            <div class="formContent">
                <form action="post">
                    <br>
                    <input type="text" class="formInput" placeholder="Nombre(s)">
                    <br>
                    <input type="password" class="formInput" placeholder="Apellido Paterno">
                    <br>
                    <input type="password" class="formInput" placeholder="Apellido Materno">
                    <br>
                    <input type="password" class="formInput" placeholder="CURP">
                    <br>
                    <input type="date" class=" formInput">
                    <br>
                    <input class="submitButton" type="submit" name="SubmitButton">
                </form>
            </div>
    </div>
</div>