@page
@model LoanModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Prestamos";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    <link href="~/css/form.css" rel="stylesheet" type="text/css" />
}


@{
    var db = new PiggyBank.Models.PiggyDatabase();
    string? user=HttpContext.User.FindFirst(ClaimTypes.Name).Value;
    var prestamosActivos=(from e in db.EstadoPrestamos 
        join d in db.DatosPrestamos on e.Folio equals d.Folio
        join c in db.Cuentas on d.SolicitadoPor equals c.NoCuenta
        where e.Estado==1 && c.NoCuenta==Int32.Parse(user)
        select new
        {
            folio=e.Folio,
            pagosRealizados=e.PagoRealizados,
            pagosPendientes=e.PagoPedientes,
            estado=e.Estado
        }).ToList();
}
<div>
    @{
    if(prestamosActivos?.Any()!=true)
    {
        <div>
            <h1 class="titulotes">Ya tienes un préstamo activo</h1>
        </div>
    }
    else
    {
        <div class="formContainer">
            <h2 class="title">Solicitar Prestamo</h2>
            <div class="formContent">
                <form action="post">
                    <br>
                    <select name="loanTime" class="formInput">
                        <option disabled selected>Cantidad de Meses</option>
                        <option value="6">6 Meses</option>
                        <option value="12">12 Meses</option>
                        <option value="24">24 Meses</option>
                        <option value="36">36 Meses</option>
                    </select>
                    <br>
                    <select name="loanOptions" class="formInput">
                        <option disabled selected>Monto de Prestamo</option>
                        <option value="5000">5,000</option>
                        <option value="10000">10,000</option>
                        <option value="50000">50,000</option>
                        <option value="100000">100,000</option>
                        <option value="500000">500,000</option>
                    </select>
                    <br>
                    <button class="sususubton">Solicitar</button>
                </form>
            </div>
        </div>
    }
    }
</div>